In [12]:
import pandas as pd
import openpyxl

In [103]:
#(accuracy_score(y_test,y_pred), f1_score(y_test,y_pred, average='weighted'), f1_score(y_test,y_pred, average='micro'), f1_score(y_test,y_pred, average='macro'),(stop-start), (stop1-start1)
headerList = ["accuracy","f1weighted","f1micro","f1macro", "fstime","clstime","dataset","classfication","featureSelection"]
df = pd.read_csv("modelperformance.csv",  names=headerList)

In [54]:
#top 1 or most frequent in top 5 
#most frequent out of 24

In [104]:
df['accuracy'] = df['accuracy'].str.replace("[","").astype(float)
df['featureSelection'] = df['featureSelection'].str.replace("]","").astype(str)

In [105]:
df1= df.groupby(["dataset"]).apply(lambda x: x.sort_values(["accuracy","fstime"], ascending = [False,True])).reset_index(drop=True)

In [106]:
df1 = df1.groupby('dataset').apply(lambda x: x.nlargest(1, 'accuracy')).reset_index(drop=True)

In [107]:
df1[['dataset','featureSelection']]

                                        dataset featureSelection
0                           'HCV-Egy-Data2.csv'             'GR'
1      'LasVegasTripAdvisorReviews-Dataset.csv'             'GR'
2                'Wholesale customers data.csv'             'GR'
3                               'bank-full.csv'             'GR'
4                               'caesarian.csv'           'fcbf'
5            'data_banknote_authentication.csv'             'GR'
6                                  'glass.data'             'GR'
7   'heart_failure_clinical_records_datase.csv'             'MI'
8                                   'iris.data'             'GR'
9                                   'wine.data'             'GR'

In [108]:
df2 = df[['accuracy','dataset','featureSelection']]
gp = df2.groupby(['dataset','featureSelection']).accuracy.agg('sum')
result = gp.max(level=0).reset_index().merge(gp.reset_index())

In [109]:
result1 = pd.merge(result,
                 df1[['dataset', 'featureSelection']],
                 on='dataset')

In [110]:
result1[['dataset','featureSelection_x','featureSelection_y']].to_csv("rule.csv",header=True)

(12, 20)

In [113]:
headerInfo = ['dataset','completeness','imbalanceRatio', 'conciseness', 'syntaxAccuracy','classOverlap','outlierDetection','instances','attributes','uniqueClasses', 'entropy','snr','ena','symmetrical','modereateasymmetrical','strongasymmetric',  'strongPositive', 'positive', 'strongNegative', 'negative']

meta_features = pd.concat(pd.read_excel("metafeatures.xlsx", sheet_name=None), axis=1, ignore_index=True)
meta_features.columns = headerInfo
meta_features.head()

,dataset,completeness,imbalanceRatio,conciseness,syntaxAccuracy,classOverlap,outlierDetection,instances,attributes,uniqueClasses,entropy,snr,ena,symmetrical,modereateasymmetrical,strongasymmetric,strongPositive,positive,strongNegative,negative
0,Wholesale customers data.csv,0,0.010072,0.000000,0.000000,0,0.000568,440,8,2,0.907323,50.709980,2.444319,0.00,0.666667,0.333333,0.035714,0.035714,0,0.000000
1,caesarian.csv,0,0.000000,0.050633,0.000000,0,0.002110,79,6,2,0.980378,1.363785,0.181460,0.00,1.000000,0.000000,0.166667,0.333333,0,0.333333
2,bank-full.csv,0,0.000100,0.000000,0.058824,0,0.000014,45211,17,2,0.520631,5.382459,0.021444,0.00,1.000000,0.000000,0.058824,0.397059,0,0.485294
3,data_banknote_authentication.csv,0,0.000000,0.017505,0.000000,0,0.002918,1371,5,2,0.991232,161.964551,0.128798,0.75,0.250000,0.000000,0.050000,0.000000,0,0.000000
4,heart_failure_clinical_records_datase.csv,0,0.009207,0.000000,0.153846,0,0.001029,299,13,2,0.905542,4.234218,0.059801,0.20,0.600000,0.200000,0.051282,0.128205,0,0.230769

In [118]:
result = pd.merge(meta_features, result1)

In [119]:
result.head()

Empty DataFrame
Columns: [dataset, completeness, imbalanceRatio, conciseness, syntaxAccuracy, classOverlap, outlierDetection, instances, attributes, uniqueClasses, entropy, snr, ena, symmetrical, modereateasymmetrical, strongasymmetric, strongPositive, positive, strongNegative, negative, accuracy, featureSelection_x, featureSelection_y]
Index: []

[0 rows x 23 columns]

In [111]:
result1["dataset"] = [x.replace("'","") for x in result1["dataset"]]
result1["featureSelection_x"] = [x.replace("'","") for x in result1["featureSelection_x"]]
result1["featureSelection_y"] = [x.replace("'","") for x in result1["featureSelection_y"]]

In [116]:
result1["dataset"]

0                             HCV-Egy-Data2.csv
1        LasVegasTripAdvisorReviews-Dataset.csv
2                  Wholesale customers data.csv
3                                 bank-full.csv
4                                 caesarian.csv
5              data_banknote_authentication.csv
6                                    glass.data
7     heart_failure_clinical_records_datase.csv
8                                     iris.data
9                                     wine.data
Name: dataset, dtype: object

In [117]:
meta_features['dataset']

0                  Wholesale customers data.csv
1                                 caesarian.csv
2                                 bank-full.csv
3              data_banknote_authentication.csv
4     heart_failure_clinical_records_datase.csv
5                                     wine.data
6                             HCV-Egy-Data2.csv
7        LasVegasTripAdvisorReviews-Dataset.csv
8                                     iris.data
9                                    glass.data
10                                    test1.csv
11                                    test2.csv
Name: dataset, dtype: object